.jumbotron {
  background: #253340 url(../../assets/Coding.jpg) no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
